---
import { xcard } from "@/lib/data";
import { Image } from "astro:assets";

const { avatar, fullName, username, xUrl, tweet, following, followers } = xcard;
---

<article class="x-card">
  <header class="x-card-header">
    <Image
      class="avatar"
      src={avatar}
      alt=`Avatar de ${fullName}, desarrollador web.`
      width={40}
      height={40}
    />
    <section class="user-information">
      <div>
        <h5 class="full-name">{fullName}</h5>
        <p class="username">{username}</p>
      </div>
      <a class="follow-button" href={xUrl}>Seguir</a>
    </section>
  </header>
  <main class="x-card-main">{tweet}</main>
  <footer class="x-card-footer">
    <section class="following">
      <p class="number-followed">{following}</p>
      <span class="text-followed">Siguiendo</span>
    </section>
    <section class="followers">
      <p class="number-followers">{followers}</p>
      <span class="text-followers">Seguidores</span>
    </section>
  </footer>
</article>

<style>
  .x-card {
    width: 320px;
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 16px;
    background-color: rgb(22 24 28);
    border: 2px solid rgb(63 63 70);
    border-radius: 16px;
    animation: animate-float 5s infinite;
  }

  .x-card-header {
    width: 100%;
    display: flex;
    gap: 12px;
  }

  .avatar {
    border-radius: 100%;
  }

  .user-information {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .full-name {
    font-weight: 700;
    font-size: 15px;
    color: rgb(231 233 234);
    overflow: hidden;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 1;
  }

  .username {
    color: rgb(113 118 123);
    font-size: 14px;
    line-height: 20px;
  }

  .follow-button {
    background-color: rgb(239 243 244);
    color: rgb(15 20 25);
    border-radius: 100px;
    transition: all 0.5 ease-in-out;
    padding: 8px 16px;
    font-weight: 700;
    font-size: 14px;
    line-height: 20px;
  }

  .follow-button:hover {
    opacity: 0.9;
  }

  .x-card-main {
    color: rgb(244 244 245);
    font-weight: 300;
    font-size: 14px;
    line-height: 20px;
  }

  .x-card-footer {
    display: flex;
    gap: 20px;
    font-size: 14px;
    line-height: 20px;
  }

  .following,
  .followers {
    display: flex;
    gap: 4px;
  }

  .number-followed,
  .number-followers {
    color: rgb(231 233 234);
    font-weight: 300;
  }

  .text-followed,
  .text-followers {
    color: rgb(113 118 123);
  }

  @media (min-width: 1024px) {
    .x-card {
      width: 100%;
    }
  }

  @keyframes animate-float {
    0%,
    100% {
      transform: translateY(0px);
    }

    50% {
      transform: translateY(5px);
    }
  }
</style>
