---
interface Props {
  buttonName: string;
  href: string;
  target?: string;
  rel?: string;
  className?: string;
}

const { buttonName, href, target, rel, className } = Astro.props;
---

<a
  href={href}
  target={target}
  rel={rel}
  class=`group w-max flex gap-1 items-center transition-all duration-300 hover:shadow-[0_0px_5px_5px_rgb(14,165,233,0.1)] button ${className}`
>
  <slot name="icon" />
  {buttonName}
</a>
