---
import LinkPill from "@/components/LinkPill.astro";
import Section from "@/components/Section.astro";

import LinkedIn from "@/icons/LinkedIn.astro";
import Mail from "@/icons/Mail.astro";

import { getI18N } from "@/i18n";

const { currentLocale } = Astro;
const i18n = getI18N({
  currentLocale,
});
---

<Section className="flex-col gap-10">
  <section class="flex flex-col gap-4">
    <span
      class="text-emerald-400 text-base font-light drop-shadow-[0_0_6px_rgb(52,211,153,0.6)]"
    >
      {i18n.INTRO_TITLE}
    </span>
    <h1 class="text-4xl sm:text-5xl font-black text-zinc-300">
      {i18n.INTRO_TITLE_1}
      <span
        class="font-black bg-gradient-to-r to-sky-400 from-emerald-500 bg-clip-text text-transparent drop-shadow-[0_0_2px_rgb(52,211,153,0.6)]"
      >
        Humberto Yupanqui
      </span>, {i18n.INTRO_TITLE_2}
    </h1>
    <article class="text-zinc-400 text-base font-light flex flex-col gap-3">
      <p>
        {i18n.INTRO_DESCRIPTION_1}
        <span class="text-sky-400">¡GUAU!</span>.
      </p>
      <p>
        {i18n.INTRO_DESCRIPTION_2}
      </p>
    </article>
  </section>
  <section class="flex gap-4">
    <LinkPill target="_blank" href="mailto:yupanquidev@gmail.com">
      <Mail width="18" height="18" />
      Contáctame
    </LinkPill>
    <LinkPill target="_blank" href="https://www.linkedin.com/in/yupanqui/">
      <LinkedIn width="18" height="18" />
      LinkedIn
    </LinkPill>
  </section>
</Section>
