---
interface Props {
  role: string;
  company: string;
  startDate: string;
  finishDate: string;
  current: string;
  location: string;
  locationType: string;
  amountOfTime: string;
  jobType: string;
}

const {
  role,
  company,
  startDate,
  finishDate,
  current,
  location,
  locationType,
  amountOfTime,
  jobType,
} = Astro.props;
---

<section class="timeline-card">
  <aside class="timeline-aside">
    <span class="timeline-icon">
      <slot name="icon" />
    </span>
    <span class="timeline-line"></span>
  </aside>
  <article class="timeline-article">
    <span class="timeline-title">
      <span class="timeline-role">{role}</span>
      <span class="timeline-current">{current}</span>
    </span>
    <p class="timeline-details">
      <span class="timeline-company">{company} · {jobType}</span>
      <span class="timeline-data">
        <span>{startDate} - {finishDate} · {amountOfTime}</span>
        <span>{location} · {locationType}</span>
      </span>
    </p>
    <slot name="description" />
    <slot name="aptitudes" />
  </article>
</section>

<style>
  .timeline-card {
    width: 100%;
    display: flex;
    gap: 4px;
  }

  .timeline-aside {
    width: 40px;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 2px;
  }

  .timeline-icon {
    background-color: rgb(12 74 110);
    padding: 6px;
    border-radius: 100%;
  }

  .timeline-line {
    width: 1px;
    height: 100%;
    background-color: rgb(63 63 70);
    border-radius: 100%;
  }

  .timeline-article {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 8px;
    padding: 4px;
    color: rgb(244 244 245);
  }

  .timeline-title {
    display: flex;
    justify-content: space-between;
  }

  .timeline-role {
    font-weight: 700;
    font-size: 16px;
  }

  .timeline-current {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgb(30 64 175);
    font-weight: 300;
    font-size: 12px;
    padding: 4px;
    border-radius: 4px;
  }

  .timeline-details {
    display: flex;
    flex-direction: column;
    gap: 4px;
    font-size: 14px;
  }

  .timeline-company {
    font-weight: 400;
  }

  .timeline-data {
    display: flex;
    flex-direction: column;
    opacity: 0.5;
    font-weight: 300;
  }
</style>
