---
interface Props {
  role: string;
  company: string;
  startDate: string;
  finishDate: string;
  current: string;
  location: string;
  locationType: string;
  amountOfTime: string;
  jobType: string;
}

const {
  role,
  company,
  startDate,
  finishDate,
  current,
  location,
  locationType,
  amountOfTime,
  jobType,
} = Astro.props;
---

<section class="w-full flex gap-1 transition-all rounded-lg border-1">
  <aside class="w-10 h-auto flex flex-col gap-0.5 justify-center items-center">
    <span class="p-1.5 rounded-full bg-sky-900">
      <slot name="icon" />
    </span>
    <span class="w-[1px] h-full bg-zinc-700 rounded-full"></span>
  </aside>
  <article class="w-full flex flex-col pt-1 text-zinc-100 gap-2">
    <span class="flex justify-between">
      <span class="font-bold text-base">{role}</span>
      <span
        class="font-light text-xs p-1 rounded bg-blue-800 flex items-center justify-center"
      >
        {current}
      </span>
    </span>
    <p class="text-sm flex flex-col gap-1">
      <span class="font-normal opacity-90">{company} · {jobType}</span>
      <span class="font-light flex flex-col opacity-70">
        <span>{startDate} - {finishDate} · {amountOfTime}</span>
        <span>{location} · {locationType}</span>
      </span>
    </p>
    <slot name="description" />
    <slot name="aptitudes" />
  </article>
</section>
